<audio autoplay>
  您的浏览器不能播放音频哦～
</audio>
<!-- player style -->
<div class="audio_area" id="audioplayer">
  <div class="audio_wrp" id="music">
    <div class="row">
      <div class="col-10 audio_played tips_global"></div>
      <div class="col progress_bar" id="timeline">
        <div id="playhead">
          <img src="img/1.png" id="playheadIcon">
        </div>
      </div>
      <div class="col-10 audio_length tips_global"></div>
    </div>
    <div class="row audio_setting" style="margin-top: 6%;">
      <div class="col-10 touchItem" style="font-size: 13px;text-align: center;color:#0CBB08">单句循环</div>
      <div class="col-10 centerItem" style="color:#0CBB08">英汉</div>
      <div class="col-20 centerItem">上一句</div>
      <div class="col-20 audio_play_area play centerItem" id="pButton" style="height: 100%;">
        <i class="ion-ios-pause icon_audio_pause"></i>
        <i class="ion-ios-play icon_audio_play"></i>
        <i class="ion-ios-refresh-empty icon_audio_replay"></i>
      </div>
      <div class="col-20 centerItem">下一句</div>
      <div class="col-20 centerItem" style="color:#0CBB08">生词本</div>
    </div>
  </div>
</div>
