<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{ 'tabs-item-hide': hideTabs }">
  <ion-tab title="发现" icon-on="ion-compass" icon-off="ion-compass" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="词汇" icon-on="ion-ios-book-outline" icon-off="ion-ios-book-outline" href="#/tab/newWord">
    <ion-nav-view name="tab-newWord"></ion-nav-view>
  </ion-tab>
  <ion-tab title="我的" icon-on="ion-ios-person-outline" icon-off="ion-ios-person-outline" href="#/tab/my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>
</ion-tabs>
