<ion-view hide-back-button="true" hide-nav-bar="true" hide-tabs="true">
  <style type="text/css">
    /*头部*/
    .setting-header{
      padding:0;
      text-align: center;
      height: 0.88rem;
      line-height: 0.88rem;
      font-size: 0.36rem;
    }
    .setting-Item{
      width: 1.5rem;
    }
    .setting-Title{
      width: 6rem;
      margin-left: -0.75rem;
    }
  </style>
  <div class="bar bar-header bar-positive setting-header">
      <span class=" setting-Item touchItem" ng-click="goback()">返回</span>
      <span class=" setting-Title">设置</span>
  </div>
  <ion-content>
    设置
  </ion-content>
</ion-view>
